<h1>Restaurants by City</h1>

<ul>
  <li><a href="/cities">Cities index</a></li>
  <li><a href="/cities/new_city">New City</a></li>
  <li><a href="/cities/new_restaurant">New Restaurant</a></li>
</ul>