<h1>All Cities<h1>

<% @cities.each do |city| %>
  <h3><%= city.name %></h3>
  <p>Created at: <%= city.created_at %></p><br>
  <%= link_to "Update #{city.name}", "/cities/#{city.id}/edit" %>
<% end %>
<%= link_to "New City", "/cities/new" %>